<div class="nav-container">
  <a id="top"></a>
  <nav class="transparent">
      <div class="top-navbar">
          <div class="container">
              <div class="row">
                  <div class="col col-md-4 col-sm-4">
                      <div class="pull-left">
                            <i class="fa fa-credit-card" (window:resize)="onResize($event)"></i>
                            Плащане при доставка
                      </div>
                  </div>
                  <div class="col col-md-4 col-sm-4">
                      <i class="fa fa-phone"></i>
                      Телефон за поръчки 089 737 0775
                  </div>

                  <div class="col col-md-4 col-sm-4">
                      <i class="fa fa-truck" aria-hidden="true"></i> Експресна доставка с еконт
                  </div>
              </div>
          </div>
      </div>
      <div class="nav-bar">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4 clearfix">

                      <!-- LOGO -->
                      <div class="division left logo-wrapper">
                            <a [routerLink]="['']" class='image-back'>
                              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                          </a>
                          <a [routerLink]="['']"><img src="./assets/imges/zdrave-logo.png" title="Магазин красота и здраве" alt="Магазин красота и здраве" class="img-responsive" /></a>
                      </div>
                      <!-- END LOGO -->


                      <!-- Mobile menu icon -->
                      <div class="division widget-handle mobile-toggle right visible-sm visible-xs">
                            <i class="ti-menu" (click)="showHideMobileMenu()"></i>
                      </div>
                      <div class="clear"></div>

                      <div class="col col-md-12 col-sm-12">
                          <div [class]="elementClass">          
                                <ul class="menu">
                                    <li [routerLinkActive]="['active']">
                                          <a [routerLink]="['']">Магазин</a>
                                    </li>
                                    <li [routerLinkActive]="['active']">
                                       <a [routerLink]="['article']" >
                                          Статии
                                      </a>
                                    </li>
                                    <li [routerLinkActive]="['active']">
                                          <a [routerLink]="['polesno']">Полезни материали</a>
                                    </li>
                                    <li [routerLinkActive]="['active']">
                                        <a [routerLink]="['faq']">FAQ</a>
                                    </li>
                                    <li [routerLinkActive]="['active']">
                                        <a [routerLink]="['contact']">Контакти</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                      <!-- END Mobile menu icon -->

                  </div>
                  <!-- Main Menu -->
                  <div class="col-sm-6 center-header clearfix">
                      <div class="division-group pull-right">
                          <div class="left">
                              <ul class="menu">
                                  <li [routerLinkActive]="['active']">
                                        <a [routerLink]="['']">Магазин</a>
                                  </li>
                                  <li [routerLinkActive]="['active']">
                                     <a [routerLink]="['article']" >
                                        Статии
                                    </a>
                                  </li>
                                  <li [routerLinkActive]="['active']">
                                        <a [routerLink]="['polesno']">Полезни материали</a>
                                  </li>
                                  <li [routerLinkActive]="['active']">
                                      <a [routerLink]="['faq']">FAQ</a>
                                  </li>
                                  <li [routerLinkActive]="['active']">
                                      <a [routerLink]="['contact']">Контакти</a>
                                  </li>
                              </ul>
                          </div>

                      </div>
                      <!-- END Main Menu -->
                  </div>

                  <div class="col-sm-2 site-header text-right " *ngIf='!authService.isTokenLive()'>
                    <div class="search-toggle" >
                        <a [routerLink]="['login']" class="fa fa-user"></a>
                            <a [routerLink]="['cart']" class="fa fa-shopping-basket"></a>
                    </div>                   
                  </div>
                  <div class="col-sm-2 site-header text-right" *ngIf='authService.isTokenLive()'>
                       <a [routerLink]="['goran']">Администрация</a>
                       <a href="#" (click)="logout()">Изход</a>  
                  </div>             
              </div>

             
              <!-- END Row -->
          </div>
          <!-- END Container -->
      </div>
  </nav>
  <div class="promo-bar-2">
      <div class="container">
          <div class="promo-text promo-2-1">
              <h2><i class="fa fa-check"></i>
                  100% натурален продукт
              </h2>
          </div>
          <div class="promo-text promo-2-2">
              <h2><i class="fa fa-check"></i>
                  Без консерванти или добавки
              </h2>
          </div>
          <div class="promo-text promo-2-3">
              <h2><i class="fa fa-check"></i>
                  Гарантирани резултати
              </h2>
          </div>
      </div>
  </div>
</div>
<!-- END Navigation bar -->

<div *ngIf="isOrder" >
        Имате една незавършена поръчка, може да я завършите сега! <span (click)="onClick()">Скрий</span>
</div>