<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <article>
      <div class="col-md-12 col-lg-12" >
        <ul class="media-list main-list">
          <li class="media">
            <a class="pull-left" href="#">
            <img class="media-object" [src]="article.img" [alt]="article.title" class='responsive'>
            </a>
            <div class="media-body">
              <h1>{{article.title}}</h1> 

              <p class="by-author" *ngFor='let p of article.paragraph'>
                  <span [innerHTML]="p"></span>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </article>
    </div>
    <div class="col-md-4 col-sm-4">
      <h2>Последни публикации</h2>
    </div>
  </div>
</div>