<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Административен панел</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Имена</th>
                                    <th>Телефон</th>
                                    <th>Продукт</th>
                                    <th>Доставка до:</th>
                                    <th>Цена:</th>
                                    <th>Опции</th>
                                  </tr>
                                </thead>

                                <tbody>
                                 
                                  <tr *ngFor="let order of orders" [class]="order.status">
                                    <td>{{order.name}}</td>
                                    <td>{{order.phone}}</td>
                                    <td><div *ngFor="let product of order.product">
                                        
                                            {{product.product.type}} {{product.product.title}} - {{product.qty}}бр.
                                    </div>{{order.product.title}}</td>
                                    <td>{{order.typeOfDelivary}}: гр. {{order.city}} {{order.address}}</td>
                                    <td>
                                        {{order.price}} лв.
                                   </td>
                                    <td>
                                      <form>
                                    
                                      <select (change)="onChange($event)">
                                        <option >{{order.status}}</option>
                                        <option >Приета</option>
                                        <option >Изпратена</option>
                                        <option>Доставена</option>
                                        <option>Отказана</option>
                                      </select>
                                      <button (click)="onSubmit($event)" [value]="order._id" >Промени</button>
                                    </form>
                                    </td>
                                    <td>{{order.date}}</td>
                                  </tr>      
                               </tbody>
                              </table>
                        </div>
                    </div>
                    <div (click)="back()" class="btn btn-danger btn-lg btn-block" role="button">Отказване</div>
                </div>
            </div>
        </div>
    </div>
  </div>