<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <!-- Search Order !-->
            <app-serach-order></app-serach-order>
        </div>
        <div class="col-md-8 col-sm-8">
            <!--Slider-->
            <app-slide></app-slide>
        </div>
    </div>
   

    <p class="text-muted lead text-center">
        Магазин Красота и Здраве е създаден специално за по-нежната половинка, а именно за Вас дами! Всички продукти предлагани от
        нас са с доказан произход и не по-малко важно с отлично качество.
    </p>

    <div class="row">
        <!-- Products -->
        <app-products></app-products>

    </div>
    <!-- /.col-sm-12 -->
    <!-- ARTICLE -->
    <div class="row second">
        <app-home-article></app-home-article>
    </div>
    <!--END ARTICLE -->

</div>
<!-- /.container -->