<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      <span class="glyphicon glyphicon-bookmark"></span> Административен панел</h3>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-xs-6 col-md-6">
                          <h1>Добавяне на нов продукт</h1>
                        <form>
                            <div class="form-group">
                              <label for="title">Заглавие</label>
                              <input type="text"
                               class="form-control"
                                 id="title"
                                 placeholder="Въведи заглавие"
                                 name="title"
                                [(ngModel)]="productForm.title"
                                 #title="ngModel">
                            </div>
                            <div class="form-group">
                                    <label for="url">Адрес на продукта</label>
                                    <input type="text" class="form-control" id="url" placeholder="adress"
                                    name="url"
                                    [(ngModel)]="productForm.url"
                                     #url="ngModel">
                             </div>
                             <div class="form-group">
                                    <label for="keywordsString">Keywords, Разделени със запетая</label>
                                    <input type="text" class="form-control" id="keywordsString" placeholder="Ключови думи"
                                    name="keywordsString"
                                    [(ngModel)]="productForm.keywordsString"
                                     #keywordsString="ngModel">
                             </div>
                            <div class="form-group">
                                <label for="type">Тип на продукт</label>
                                <input type="text" 
                                class="form-control" 
                                id="type" 
                                placeholder="Тип на продукта"
                                name="type"
                                [(ngModel)]="productForm.type"
                                 #type="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="img">Изображение</label>
                                <input type="text" class="form-control" id="img" placeholder="http://"
                                name="img"
                                [(ngModel)]="productForm.img"
                                 #img="ngModel">
                            </div>

                            <div class="form-group">
                                    <div class="col-xs-4 col-md-4">
                                        <label for="price">Закупна цена</label>
                                         <input type="number"
                                          class="form-control price"
                                           id="price"
                                            placeholder="XXX"
                                            name="zakupnaCena"
                                            [(ngModel)]="productForm.zakupnaCena"
                                              #zakupnaCena="ngModel">
                                    </div>

                                    <div class="col-xs-4 col-md-4">
                                        <label for="price">Продажна цена</label>
                                         <input type="number"
                                          class="form-control price" 
                                          id="price" 
                                          placeholder="XXX"
                                          name="price"
                                          [(ngModel)]="productForm.price"
                                            #price="ngModel">
                                    </div>

                                    <div class="col-xs-4 col-md-4">
                                            <label for="quality">Количество</label>
                                            <input type="number" 
                                            class="form-control price" 
                                            id="quality" 
                                            placeholder="XXX"
                                            name="quality"
                                            [(ngModel)]="productForm.quality"
                                              #quality="ngModel">
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label for="onFirstPage" class="checkbox-inline" >Първа страница ?</label>
                                    <input type="checkbox"
                                       value="true"
                                       id="onFirstPage"
                                       placeholder="Въведи заглавие"
                                       name="onFirstPage"
                                      [(ngModel)]="productForm.onFirstPage"
                                       #onFirstPage="ngModel">
                            </div>

                            <div class="form-group">
                                <label for="description">Описание на продукта</label>
                                <textarea 
                                    class="form-control" 
                                    id="description" 
                                    placeholder="Описание" 
                                    rows="10"
                                    
                                    name="description"
                                    [(ngModel)]="productForm.description"
                                     #description="ngModel"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="prednaznachenie">Предназначение, избройте със запетая</label>
                                <textarea 
                                class="form-control" 
                                id="prednaznachenie" 
                                placeholder="Предназначение" 
                                rows="8"
                                name="prednaznachenieString"
                                [(ngModel)]="productForm.prednaznachenieString"
                                 #prednaznachenieString="ngModel">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="sydyrjanie">Съдържание</label>
                                <textarea 
                                class="form-control" 
                                id="sydyrjanie" 
                                placeholder="Съдържание" 
                                rows="10"
                                name="sydyrjanie"
                                [(ngModel)]="productForm.sydyrjanie"
                                 #sydyrjanie="ngModel">
                                </textarea>
                            </div>
                            <div class="form-group">
                                    <label for="upotreba">Начин на прием</label>
                                    <textarea 
                                    class="form-control" 
                                    id="upotreba" 
                                    placeholder="Начин на употреба" 
                                    rows="10"
                                    name="upotreba"
                                    [(ngModel)]="productForm.upotreba"
                                     #upotreba="ngModel">
                                    </textarea>
                        </div>
                        </form>
                      </div>
                      <div class="col-xs-6 col-md-6">
                          <h1>Предварителен изглед</h1>
                          <h4>{{productForm.type}}</h4>
                          <h3>{{productForm.title}}</h3>
                          <img [src]="productForm.img" width="400"><br/>
                          <h3>Цена: {{productForm.price}} лв.</h3>
                          {{productForm.description}}

                      </div>

                  </div>
                  <div (click)="submit()"  class="btn btn-success btn-lg btn-block" role="button">Добави продукт</div>
                  <div (click)="back()" class="btn btn-danger btn-lg btn-block" role="button">Отказване</div>
              </div>
          </div>
      </div>
  </div>
</div>