<div *ngIf="loadeDate">
<h2 class="article">Последни съвети за красота и здраве</h2>
<div class="col-md-6 col-lg-5">             
    <div class="featured-article">
            <a [routerLink]="['article/top', firstArticle.url]">
            <img [src]="firstArticle.img" alt="" class="thumb">
        </a>
        <div class="block-title">
            <h2 class="h2-article"> <a [routerLink]="['article/top', firstArticle.url]">{{firstArticle.title}}</a></h2>
            <p class="by-author">
                <small>Магазин красота и здраве</small>
            </p>
        </div>
    </div>

    <!-- /.featured-article -->
</div>
<div class="col-md-6 col-lg-7">
    <ul class="media-list main-list">
        <li class="media" *ngFor="let article of articles">
            <a class="pull-left" [routerLink]="['article/top', article.url]">
                <img class="media-object" [src]="article.img" alt="...">
            </a>
            <div class="media-body">
                 <a [routerLink]="['article/top', article.url]">
                    
                <h4 class="media-heading">{{article.title}}</h4>
                </a>
                <p class="by-author">
                    {{article.paragraph[0]|slice:0:258}}
                </p>
            </div>
        </li>
    </ul>
</div>
</div>