<div class="container">
  <div class="row">
      <div class="col-md-4 col-sm-4">
          <!-- Search Order !-->
         
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="well">
            <h3 align="center">Вхдо за потребители</h3>
            <form class="form-horizontal" #userloginForm="ngForm">
                    <small class="err" [hidden]="username.valid || username.pristine">
                            *Name is required (minimum 3).
                  </small>
                <div class="form-group">
                    <input type="text"
                           class="form-control" 
                           id="username" 
                           placeholder="Потребителско име"
                           required 
                           autofocus
                           name="username"
                           [(ngModel)]="loginForm.username"
                            #username="ngModel"
                            minlength="3">
                            
                </div>
                <small class="err" [hidden]="password.valid || password.pristine">
                        *Password is required (minimum 3).
                </small>
                <div class="form-group">
                    <input 
                    type="password" 
                    id="inputPassword" 
                    class="form-control" 
                    placeholder="Password" 
                    required
                    name="password"
                    [(ngModel)]="loginForm.password"
                    #password="ngModel"
                    minlength="3"
                    maxlength="8"
                        >
                </div>
                <p class="text-center">
                    <a class="btn btn-danger" role="button" (click)="onSubmit()" >Вход</a>
                </p>
            </form>
        </div>
      </div>
  </div>
</div>