<div class="well">
    <h3 align="center">Проследи поръчка</h3>
    <form class="form-horizontal" *ngIf="isForm">
        <div class="form-group">
            <label for="phone" class="label">Въведете вашия телефонен номер</label>
            <input type="text" class="form-control" id="phone" name="phone"  [(ngModel)]="orderForm.phone">
        </div>
        <p class="text-center">
            <button class="btn btn-danger glyphicon glyphicon-search" role="button" (click)="submit()"></button>
        </p>
    </form>
    <div *ngIf="isOrder"  class="text-dark"> 
    <h5> Поръчка № - Статус</h5>
       <div *ngFor="let order of orders">
          <h6> №:{{order._id}} - статус {{order.status}}</h6>
     </div>
         <p class="text-center">
            <button class="btn btn-danger" role="button" (click)="new()">Нова Справка</button>
        </p>
   </div>
</div>