<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      <span class="glyphicon glyphicon-bookmark"></span> Административен панел</h3>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-xs-6 col-md-6">
                        <div (click)="onClick($event)" class="btn btn-danger btn-lg" role="button">
                          <span class="glyphicon glyphicon-list-alt"></span><br/>
                          Поръчки
                        </div> 

                        <div (click)="onClick($event)" class="btn btn-success btn-lg" role="button">
                            <span class="glyphicon glyphicon-user"></span> <br/>
                            Потребители
                        </div>

                        <div (click)="onClick($event)" class="btn btn-warning btn-lg" role="button">
                          <span class="glyphicon glyphicon-bookmark"></span><br/>
                          Нов Продукт
                        </div>

                        <div (click)="onClick($event)" class="btn btn-info btn-lg" role="button">
                          <span class="glyphicon glyphicon-file"></span> <br/>
                          Нова Статия
                        </div>
                      </div>
                      <div class="col-xs-6 col-md-6">
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>Поръчки днес {{numberOfOrders}} </a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Поръчки този месец {{numberOfMonthOrders}}</a>
                        <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                        <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br/>Tags</a>
                      </div>

                  </div>
                  <a href="#" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span>Регистрирай нова поръчка</a>
              </div>
          </div>
      </div>
  </div>
</div>