<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Административен панел</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="col-xs-3 col-md-3">
                      <button class="btn btn-success" (click)="onEdit()">Добави</button>
                             </div>
                             <div class="col-xs-9 col-md-9"></div>
                       </div>
                      </div>

                      <div class="row" *ngIf="edit">
                          <div class="col-xs-3 col-md-3"></div>
                          <div class="col-xs-6 col-md-6">
                              <h1>Добавяне на ново изображение</h1>
                            <form>
                                <div class="form-group">
                                  <label for="title">Заглавие</label>
                                  <input type="text"
                                   class="form-control"
                                     id="title"
                                     placeholder="Въведи заглавие"
                                     name="title"
                                    [(ngModel)]="form.title"
                                     #title="ngModel">
                                </div>
                                <div class="form-group">
                                    <label for="type">изображение</label>
                                    <input type="text" 
                                    class="form-control" 
                                    id="type" 
                                    placeholder="http://"
                                    name="img"
                                    [(ngModel)]="form.img"
                                     #img="ngModel">
                                </div>
                                <div class="form-group">
                                    <label for="img">URL</label>
                                    <input type="text" class="form-control" id="img" placeholder="http://"
                                    name="url"
                                    [(ngModel)]="form.url"
                                     #url="ngModel">
                                </div>
                                </form>
                                <button class="btn btn-success" (click)="onSubmit()" *ngIf="saveBtn">Запази</button>
                                <button [id]="form.id" class="btn btn-success" (click)="updateSlider($event)" *ngIf="editBtn">Промени</button>
                            
                                <button class="btn btn-danger" (click)="onEdit()">Откажи</button>
                            </div>
                       </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Имена</th>
                                    <th>Изображение</th>
                                    <th>Линк</th>
                                    <th>Действие</th>
                                  </tr>
                                </thead>

                                <tbody>
                                 
                                  <tr *ngFor="let sleder of sleders">
                                    <td>{{sleder.title}}</td>
                                    <td>{{sleder.img}}
                                        <img [src]="sleder.img">    
                                    </td>
                                    <td>
                                        {{sleder.url}}
                                   </td>
                                    <td>
                                      <button [id]="sleder._id" (click)="remove($event)">Изтрий</button>
                                      <button [id]="sleder._id" (click)="onEditSlider($event)">Промени</button>
                                    </td>
                                  </tr>      
                               </tbody>
                              </table>
                        </div>
                    </div>
                    <div (click)="back()" class="btn btn-danger btn-lg btn-block" role="button">Отказване</div>
                </div>
            </div>
        </div>
    </div>
  </div>