<div *ngIf="findProduct">
    <div class="container-fluid">
        <div class="row">
            <div id="content" class="col-sm-12 col-md-8 product-page-row">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="thumbnails">
                            <li>
                                <img [src]="product.img" title="product.title" alt="product.title" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h2>{{product.type}}</h2>
                        <h1>{{product.title}}</h1>
                        <ul class="list-unstyled">

                            <li>Наличност: В наличност</li>
                        </ul>
                        <div class="rating">
                            <p>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>

                                <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">4 мнения</a>
                                /
                                <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Напишете мнение</a>
                            </p>
                        </div>


                        <div id="product" class="hidden-xs">
                            <div class="form-group quantity-buttons">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-4 hidden-xs first-col">
                                        <button type="button" class="decrementValue js-qty__adjust js-qty__adjust--minus icon-fallback-text" (click)="decrase()">
                                            <span class="icon icon-minus" aria-hidden="true"></span>
                                            <span class="fallback-text">−</span>
                                        </button>
                                        <input type="text" name="quantity" [value]="qty" size="2" id="input-quantity" class="form-control" />
                                        <button type="button" class="incrementValue js-qty__adjust js-qty__adjust--plus icon-fallback-text" (click)="incrase()">
                                            <span class="icon icon-plus" aria-hidden="true"></span>
                                            <span class="fallback-text">+</span>
                                        </button>
                                    </div>
                                    <div class="col-sm-4 col-xs-4 second-col">
                                        <button (click)="onClickButtonBy($event)"
                                            type="button" 
                                            id="button-cart-2"
                                            class="btn btn-primary btn-lg btn-block"
                                            [value]="product._id">
                                            Купи
                                        </button>
                                    </div>

                                    <div class="col-sm-4 col-xs-4 price-spacial">
                                        <ul class="list-inline">
                                            <li>
                                                <span style="text-decoration: line-through;">59.90 лв.</span>
                                            </li>
                                            <li>
                                                <h2>{{product.price}} лв.</h2>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active" (click)="onClick($event)">
                                <a href="#" data-toggle="tab">Описание</a>
                            </li>
                            <li (click)="onClick($event)">
                                <a href="#" data-toggle="tab" (click)="onClick($event)">
                                    Доставка </a>
                            </li>
                            <li (click)="onClick($event)">
                                <a href="#" data-toggle="tab" (click)="onClick($event)">Коментари</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab-description" class="no-padding">
                                <div class="non-mobile-desc">
                                    <div class="tab-pane active" *ngIf="description">
                                        <p>{{product.description}}
                                            <p>
                                                <strong>Предимства </strong>
                                            </p>
                                            <ul>
                                                <li *ngFor="let predimstvo of product.prednaznachenie">
                                                    <span style="font-weight: bold;">
                                                        {{predimstvo}}
                                                        <br>
                                                    </span>
                                                </li>
                                            </ul>
                                            <p>
                                                <span style="font-weight: bold;">Съдържание:</span>
                                                {{product.sydyrjanie}}
                                    </div>
                                    <div class="tab-pane active" *ngIf="delivary">
                                        <p>Dostavkata se izvyrshva s kurierska firma ekont</p>
                                    </div>
                                    <div class="tab-pane active" *ngIf="comments">
                                        <p>Все още няма коментари</p>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!-- Fast Order -->
            <div class="col-sm-6 col-md-4">
                <div class="fast-order">
                    <h3 class="text-center">
                        <strong>Бърза поръчка</strong>
                    </h3>
                    <br> 
                    <form>
                        <label for="name">Име и фамилия
                            <span class="red">*</span>
                        </label>
                        <small class="err" [hidden]="name.valid || name.pristine">
                            *Въведете име и фамилия.
                        </small>
                        <input id="name" type="text" class="form-control" name="name" name="name" [(ngModel)]="orderForm.name" #name="ngModel" minlength="5">
                        <label for="phone">Телефон
                            <span class="red">*</span>
                        </label>
                        <small class="err" [hidden]="phone.valid || phone.pristine">
                            *Телефоният номер трябва да започва с 0 и да е между 9 и 10 цифри
                        </small>
                        <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="orderForm.phone" #phone="ngModel" minlength="9"
                            maxlength="10">


                        <label for="email">E-mail
                            <span class="red">*</span>
                        </label>
                        <input id="email" type="text" class="form-control" name="email" [(ngModel)]="orderForm.email">

                        <label for="city">Град / Село
                            <span class="red">*</span>
                        </label>
                        <input id="city" type="text" class="form-control" name="city" name="city" [(ngModel)]="orderForm.city" #city="ngModel">
                        <label>Доставка до:
                            <span class="red">*</span>
                        </label>
                        <label class="adress" for="adress"></label>
                        <input type="radio" (click)="getPruce($event)" name="adress" value="Адрес" id="adress" checked="checked" name="typeOfDelivary" [(ngModel)]="orderForm.typeOfDelivary"
                            #typeOfDelivary="ngModel"> Доставка до посочен от вас Адрес
                        <br/>
                        <input type="radio" (click)="getPruce($event)" name="adress" value="Офис" id="adress" 
                            name="typeOfDelivary" [(ngModel)]="orderForm.typeOfDelivary"
                            #typeOfDelivary="ngModel" 
                            checked="checked">Доставка до офис на фирма Еконт

                        <textarea name="address" [(ngModel)]="orderForm.address" #address="ngModel" id="delivery" class="form-control" name="delivery"
                            placeholder="Моля въведете точен адрес / офис"></textarea>
                        <span>Обобщена Поръчка</span>
                        <div class="row">
            
                                <div class="col-sm-4 col-xs-4 first">Цена:</div>
                                <div class="col-sm-8 col-xs-8 second"> {{product.price}} лв. </div>
                         </div> 


                         <div class="row">
                                <div class="col-sm-4 col-xs-4  first">Доставка:</div>
                                <div class="col-sm-8 col-xs-8  second"> {{delviaryPrice}} лв. </div>
                         </div> 
                               <hr>
                         <div class="row">
                                <div class="col-sm-4 col-xs-4  first">Крайна цена:</div>
                                <div class="col-sm-8 col-xs-8  second"> {{orderPrice}} лв. </div>

                         </div> 
                         <flash-messages></flash-messages>
                        <button class="btn btn-default" (click)="onSubmit()">Поръчай</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>